:root {
    --bg-color: rgb(0,0,0);
    --bg-color-secondary: rgb(15,15,15);
    --bg-color-tri: rgb(25,25,25);
    --fg-color:rgb(240,240,240);
    --fg-color-secondary:rgb(255,255,255);
    --font-size: 1.2em;
    --padding: 8px;
    --padding_horizontal: calc(var(--padding) * 1.5)
    
}
body {
    /* background-color: var(--bg-color); */
    color: var(--fg-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
background-color:hsla(79,7%,11%,1);
background-image:
radial-gradient(at 2% 65%, hsla(358,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 37% 93%, hsla(295,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 58% 84%, hsla(280,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 67% 11%, hsla(142,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 38% 3%, hsla(294,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 67% 14%, hsla(41,12%,5%,1) 0px, transparent 50%),
radial-gradient(at 81% 74%, hsla(235,12%,5%,1) 0px, transparent 50%);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
h1.near_text {
    margin-bottom: 8px;
}
a {
    color: var(--fg-color);
}
.big_padding_horizontal {
    padding-top: calc(var(--font-size) * 5);
    padding-bottom: calc(var(--font-size) * 5);

}
.centered_div_left_text {
    text-align: left; 
    width: 95%;
}
.social-links > a {
    width: fit-content;
    /* display: inline-block; */
    display: inline-block;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-left: var(--padding_horizontal);
    padding-right: var(--padding_horizontal);
    margin-bottom: var(--padding);
    background-color: var(--bg-color-secondary);
    border-radius: 8px;
    border: 1px solid var(--bg-color-tri);
    transition: 0.5s ease-out;
}
.social-links > a:hover {
    filter: brightness(1.3);
}
/* .social-links {
    margin: 8px;
    padding: 8px;
} */
.icon{
    width: auto;
    height: var(--font-size);
    vertical-align: middle;
    margin-right: 8px;
}
.rounded {
    border-radius: 50%;
}
.inverted {
    filter: invert();
}