:root {
    --bg_color: rgb(13, 13, 13);
    --bg_color_lighter: rgb(25, 25, 25);
}
body {
    align-items: center;
    margin: 0;
    display: block;
    max-width: 100%;
    background-color: var(--bg_color);
    color: white;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    padding: 8px 16px;
    text-align: center;
    margin: auto;
    background-color: var(--bg_color_lighter);
}
a {
    display: inline-block;
    color: rgb(87, 145, 245);
    background-color: var(--bg_color_lighter);
    padding: 4px 8px;  
    margin: auto;
    border-radius: 8px;
    transition: 0.5s;
}
a:hover {
    filter: brightness(1.3); /* Легкий эффект при наведении */
}
.icon {
    height: 1em;
    width: auto;
    filter: invert();
    vertical-align: middle;
    margin-right: 8px;
}
.maincontent {
    padding: 16px 32px;
    margin-left: 5%;
    margin-right: 5%;
}
