:root {
    --bg-color: rgb(0,0,0);
    --bg-color-secondary: rgb(15,15,15);
    --bg-color-tri: rgb(25,25,25);
    --fg-color:rgb(240,240,240);
    --fg-color-secondary:rgb(255,255,255);
}
body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-bottom: 4px;
}
a {
    color: var(--fg-color);
}
.big_padding_horizontal {
    padding-top: 6em;
    padding-bottom: 6em;

}
.centered_div_left_text {
    text-align: left; 
    width: 50%;
}
.social-link {
    width: fit-content;
    padding: 8px;
    background-color: var(--bg-color-secondary);
    border-radius: 8px;
    border: 1px solid var(--bg-color-tri);
    /* filter: saturate(0); */
    transition: 0.5s ease-out;
}
.social-link:hover {
    filter: brightness(1.3);
}
.icon{
    width: auto;
    height: 1em;
    vertical-align: middle;
    margin-right: 8px;
}
.rounded {
    border-radius: 50%;
}